# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
*/dist
*/tmp
*/out-tsc
*/bazel-out
*/bin
*/obj
*/target

# Node
*/node_modules
*/npm-debug.log
*/yarn-error.log

# IDEs and editors
*/.idea/
*/.project
*/.classpath
*/.c9/
*/*.launch
*/.settings/
*/*.sublime-workspace

# Visual Studio Code
client/.vscode/*
client/!.vscode/settings.json
client/!.vscode/tasks.json
client/!.vscode/launch.json
client/!.vscode/extensions.json
client/.history/*

# Miscellaneous
client/.angular/cache
client/connect.lock
client/coverage
client/libpeerconnection.log
client/testem.log
client/typings

# System files
client/.DS_Store
